/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */

   #banner{display: flex;}
   
   .container{display: flex;}

   .column{flex-direction: column;}